article {
	background: #fff;
	overflow: hidden;
	.article-feature {
		position: relative;
		@include rems(height, 50);
		background-size: cover;
		background-position: center center; 
		background-repeat: no-repeat;
		.colour-overlay {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #fff;
			background: rgba(0, 0, 0, 0.3);
		}
		.angle {
			@include rems(background-size, 2, 2);
			background-repeat: no-repeat;
			&.bl {
				background-image: url('images/angle-bl.png');
				background-position: bottom left;
			}
			&.tl {
				background-image: url('images/angle-tl.png');
				background-position: top left;
			}
			&.br {
				background-image: url('images/angle-br.png');
				background-position: bottom right;
			}
			&.tr {
				background-image: url('images/angle-tr.png');
				background-position: top right;
			}
		}
		.title-content {
			text-align: center;
			@include rems(padding, 4, 6);
			@include font-size(2, 2.4);
			text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
			span {
				@include rems(padding, 0, 2);
				i {
					@include rems(margin-left, 1);
				}
			}
		}
	}
	.intro-content {
		@include rems(padding, 8, 16);
		font-family: $gotham-light;
		@include font-size(2.6, 4);
	}
	.gallery-block {
		@include rems(padding, 0, 0.5, 0.5);
		@include rems(margin, 0, -1);
	  	font-size: 0;
	  	display: -ms-flexbox;
		-ms-flex-wrap: wrap;
		-ms-flex-direction: column;
		-webkit-flex-flow: row wrap; 
		flex-flow: row wrap; 
		display: -webkit-box;
		display: flex;
		&:last-child {
			padding-bottom: 0;
			@include rems(margin-bottom, -0.5);
		}
		div {
			-webkit-box-flex: auto;
		  -ms-flex: auto;
		  flex: auto; 
		  @include rems(width, 25);
		  @include rems(margin, 0.5);
		}
		img {
			display: block;
			width: 100%;
		}
		& + * {
			padding-top: 75px!important;
			padding-top: 7.5rem!important;
		}
	}
	.content-block {
		@include rems(padding, 8, 16);
	}
	.testimonial-block {
		@include rems(padding, 8, 16);
		background: $red;
		color: #fff;
		@include clearfix;
		display: flex;
		align-items: center;
		aside {
			@include box;
			&.testimonial-image {
				width: 30%;
				@include rems(max-width, 30);
				@include border-radius(50%);
				border: 4px solid #fff;
				overflow: hidden;
				img {
					display: block;
				}
			}
			&.testimonial-content {
				width: 70%;
				@include rems(padding-left, 6);
			}
		}
	}
	.big-image {
		width: 100%;
	}
}
