.article-thumb {
	background: #fff;
	@include rowMachine(4, 2%);
	position: relative;
	overflow: hidden;
	img {
		display: block;
		transition: 0.4s all ease;
	}
	.thumbnail-overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.6);
		@include rems(padding, 2);
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		color: #fff;
		@include font-size(1.6, 2.2);
		opacity: 0;
		transition: 0.4s all ease;
		z-index: 10;
		h2 {
			font-family: $pacifico;
			width: 100%;
			border-bottom: 1px solid #fff;
			@include rems(padding-bottom, 1);
			@include rems(margin-bottom, 1);
		}
		&:hover {
			opacity: 1;
		}
	}
	&:hover {
		img {
			transform: scale(1.1);
		}
	}
	&.feature-blog {
		width: 100%;
		display: flex;
		align-items: stretch;
		margin-bottom: 2% !important;
		aside {
			width: 50%;
			@include box;
			overflow: hidden;
			&.feature-excerpt {
				@include rems(padding, 4);
				display: flex;
				align-items: center;
				h2 {
					@include rems(margin-bottom, 1);
					font-family: $pacifico;
					@include font-size(3.4, 4);
					& + p {
						@include rems(margin-bottom, 4);
						@include font-size(1.6, 2.2);
						span {
							@include rems(margin-right, 2);
							&:last-child {
								margin-right: 0;
							}
						}
					}
				}
				a {
					color: $red;
					text-decoration: none;
				}
			}
		}
	}
}
