@font-face {
    font-family: 'gotham-book';
    src: url('fonts/gotham/Gotham-Book.eot');
    src: url('fonts/gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham/Gotham-Book.woff2') format('woff2'),
         url('fonts/gotham/Gotham-Book.woff') format('woff'),
         url('fonts/gotham/Gotham-Book.ttf') format('truetype'),
         url('fonts/gotham/Gotham-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-book-italic';
    src: url('fonts/gotham/Gotham-BookItalic.eot');
    src: url('fonts/gotham/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham/Gotham-BookItalic.woff2') format('woff2'),
         url('fonts/gotham/Gotham-BookItalic.woff') format('woff'),
         url('fonts/gotham/Gotham-BookItalic.ttf') format('truetype'),
         url('fonts/gotham/Gotham-BookItalic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-medium';
    src: url('fonts/gotham/Gotham-Medium.eot');
    src: url('fonts/gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham/Gotham-Medium.woff2') format('woff2'),
         url('fonts/gotham/Gotham-Medium.woff') format('woff'),
         url('fonts/gotham/Gotham-Medium.ttf') format('truetype'),
         url('fonts/gotham/Gotham-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-light';
    src: url('fonts/gotham/Gotham-Light.eot');
    src: url('fonts/gotham/Gotham-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham/Gotham-Light.woff2') format('woff2'),
         url('fonts/gotham/Gotham-Light.woff') format('woff'),
         url('fonts/gotham/Gotham-Light.ttf') format('truetype'),
         url('fonts/gotham/Gotham-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-extra-light';
    src: url('fonts/gotham/Gotham-ExtraLight.eot');
    src: url('fonts/gotham/Gotham-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham/Gotham-ExtraLight.woff2') format('woff2'),
         url('fonts/gotham/Gotham-ExtraLight.woff') format('woff'),
         url('fonts/gotham/Gotham-ExtraLight.ttf') format('truetype'),
         url('fonts/gotham/Gotham-ExtraLight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-bold';
    src: url('fonts/gotham/Gotham-Bold.eot');
    src: url('fonts/gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham/Gotham-Bold.woff2') format('woff2'),
         url('fonts/gotham/Gotham-Bold.woff') format('woff'),
         url('fonts/gotham/Gotham-Bold.ttf') format('truetype'),
         url('fonts/gotham/Gotham-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Variables */

$gotham-book: 'gotham-book', 'HelveticaNeueW01-45Ligh', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$gotham-book-italic: 'gotham-book-italic', 'HelveticaNeueW01-45Ligh', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$gotham-medium: 'gotham-medium', 'HelveticaNeueW01-45Ligh', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$gotham-light: 'gotham-light', 'HelveticaNeueW01-45Ligh', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$gotham-extra-light: 'gotham-extra-light', 'HelveticaNeueW01-45Ligh', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$gotham-bold: 'gotham-bold', $bold;

$pacifico: 'Pacifico', cursive;
