footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	.footer-contact {
		@include rems(padding, 1.5, 0);
		background: $red;
		color: #fff;
		.container {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		p {
			@include font-size(2, 2);
			padding-bottom: 0;
			@include rems(margin-right, 2);
		}
		.contact-trigger {
			display: block;
			border: 2px solid #fff;
			color: #fff;
			@include rems(padding, 0.5, 3);
			@include border-radius(30px);
		}
	}
	.footer-main {
		@include rems(padding, 1.5, 0);
	}
	.container {
		display: flex;
		align-items: center;
		@include box;
		@include rems(padding, 1.5, 0);
		@include font-size(1.4, 2);
	}
	aside {
		&:nth-child(2) {
			margin-left: auto;
		}
	}
	a {
		color: $red;
		text-decoration: none;
	}
}
