.form-split {
	@include clearfix;
	margin-bottom: 2%;
	aside {
		@include rowMachine(2, 2%);
		padding: 0!important;
		input[type=email], input[type=text], input[type=tel], textarea {
			margin-bottom: 0;
		}
	}
}
fieldset {
	border: none;
}
input[type=email], input[type=text], input[type=tel], input[type=password], input[type=number], input[type=date], textarea {
	width: 100%;
	@include box;
	@include rems(padding, 1);
	-webkit-appearance: none;
	border-radius: 0;
	outline: none;

	// Custom Styles

	background: #fff;
	font-family: $gotham-book;
	@include font-size(1.6, 2.2);
	border: 1px solid #ccc;
	@include border-radius(4px);
	@include rems(margin-bottom, 2);
	transition: 0.4s all ease;
	color: $red;
	&:focus {
		border: 1px solid $red;
	}
}
input[type="submit"] {
	text-decoration: none;
	@include hover;
	cursor: pointer;
	outline: none;
	border-radius: 0;
	-webkit-appearance: none;

	// Custom Styles

	@include border-radius(4px);
	background: #fff;
	border: 2px solid $red;
	color: $red;
	@include rems(padding, 0.5, 3);
	@include border-radius(30px);
	font-family: $gotham-medium;
	@include font-size(1.6, 2.2);
	transition: 0.4s all ease;
	&:hover {
		background: $red;
		color: #fff;
	}
}
select {
	background-image: url('images/select@2x.png');
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 45px auto;
	background-size: 4.5rem auto;
	@include rems(padding, 1, 5.2, 1, 1);
	width: 100%;
	@include box;
	-webkit-appearance: none;
	   -moz-appearance: none;
	border-radius: 0;
	margin-bottom: 2%;
	outline: none;

	// Custom Styles

	background-color: #e1e1e1;
	font-family: $gotham-book;
	@include font-size(1.6, 2.2);
	border: 1px solid #e1e1e1;
	color: #333;
}
select::-ms-expand {
    display: none;
}
form {
	@include clearfix;
	@include rems(padding, 4);
	border: 1px dashed $red;
	@include border-radius(4px);
	input[type="submit"] {
		float: right;
	}
	p {
		padding-bottom: 0;
	}
	br {
		display: none;
	}
}
