body {
	background: #fefdee;
	font-family: $gotham-book;
	@include font-size(1.8, 3.2);
	color: #7d7d7d;
}
.container {
	@include rems(max-width, 120);
	@include clearfix;
	&.main {
		@include rems(padding, 4, 0);
	}
	&.ultra {
		@include rems(padding, 8, 0);
	}
	&.no-top {
		padding-top: 0;
	}
}
.page-content {
	position: relative;
	min-height: 100%;
}
.acf-map {
	@include rems(height, 40);
}
img {
	&.alignright, &.alignleft {
		display: block;
		@include rems(margin-bottom, 2);
	}
	&.alignright {
		float: right;
		@include rems(margin-left, 2);
	}
	&.alignleft {
		float: left;
		@include rems(margin-right, 2);
	}
	&.aligncenter {
		margin: 0 auto;
		@include rems(margin-bottom, 2);
		display: block;
	}
}
