header {
	.container {
		display: flex;
		align-items: center;
		@include box;
		@include rems(padding, 1.5, 8);
	}
	aside {
		@include clearfix;
		&.header-logo {
			width: 30%;
			@include rems(max-width, 20);
			h1, h2 {
				background: url('images/header-logo@2x.png') center left no-repeat;
				background-size: contain;
				@include rems(height, 6);
				text-indent: -10000px;
				a {
					display: block;
					width: 100%;
					height: 100%;
				}
			}
		}
		&.header-main {
			margin-left: auto;
		}
	}
}
