nav {
	header & {
		float: right;
		@include clearfix;
		text-transform: lowercase;
		ul {
			@include clearfix;
			li {
				float: left;
				@include rems(margin-right, 3);
				&:last-child {
					margin-right: 0;
				}
				a {
					display: block;
					@include rems(padding, 0.5);
					border: 2px solid transparent;
					text-decoration: none;
					color: #7d7d7d;
					transition: 0.4s all ease;
				}
				&:hover, &.current-page-ancestor, &.current_page_item, &.current_page_parent, &.current-menu-item {
					a {
						color: $red;
						border-bottom: 2px solid $red;
					}
				}
				&.contact-button {
					a {
						border: 2px solid $red;
						color: $red;
						@include rems(padding, 0.5, 3);
						@include border-radius(30px);
					}
					&:hover {
						a {
							color: #fff;
							background: $red;
						}
					}
				}
			}
		}
	}
	footer & {
		ul {
			@include clearfix;
			li {
				float: left;
				@include rems(margin-right, 2);
				&:last-child {
					margin-right: 0;
				}
				a {
					color: #7d7d7d;
					text-decoration: none;
				}
			}
		}
	}
}
