.about-intro {
	background: url('images/about-feature.jpg') center center no-repeat;
	background-size: cover;
	.container {
		@include rems(min-height, 60);
		display: flex;
		align-items: center;
	}
	.content-box {
		@include border-radius(4px);
		@include rems(padding, 8);
		background: #fff;
		-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
				box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	}
	.angle {
		@include rems(background-size, 2, 2);
		background-repeat: no-repeat;
		&.bl {
			background-image: url('images/angle-bl-red.png');
			background-position: bottom left;
		}
		&.tl {
			background-image: url('images/angle-tl-red.png');
			background-position: top left;
		}
		&.br {
			background-image: url('images/angle-br-red.png');
			background-position: bottom right;
		}
		&.tr {
			background-image: url('images/angle-tr-red.png');
			background-position: top right;
		}
	}
	.about-content {
		text-align: center;
		@include rems(padding, 4, 8);
		@include font-size(2, 2.4);
	}
}
.testimonial-area {
	background: $red;
	color: #fff;
	position: relative;
	li {
		display: flex;
		align-items: stretch;
		aside {
			display: flex;
			&.testimonial-image {
				align-items: flex-start;
				width: 25%;
				margin-right: 5%;
				.testimonial-image-clip {
					@include border-radius(50%);
					overflow: hidden;
					border: 4px solid #fff;
					img {
						display: block;
					}
				}
			}
			&.testimonial-content {
				width: 70%;
				align-items: center;
			}
		}
	}
	.bx-prev, .bx-next {
		position: absolute;
		display: block;
		@include rems(padding, 1);
		color: #fff;
		text-decoration: none;
		@include font-size(3, 3);
		@include rems(height, 5);
		@include box;
		top: 50%;
		//@include rems(margin-top, 5.5);
	}
	.bx-next {
		right: 0;
	}
	.bx-prev {
		left: 0;
	}
}
.the-team {
	.team-list {
		display: flex;
		align-items: stretch;
	}
	aside {
		&.team-member {
			@include box;
			@include rowMachine(2, 0%);
			@include rems(padding, 2, 0);
			.photo-clip {
				border: 4px solid #fff;
				@include border-radius(50%);
				@include rems(margin-bottom, 2);
				overflow: hidden;
				width: 100%;
				@include rems(max-width, 20);
				img {
					display: block;
				}
			}
			&:nth-child(2n+1) {
				border-right: 1px dashed $red;
				@include rems(padding-right, 4);
				text-align: right;
				.photo-clip {
					float: right;
				}
			}
			&:nth-child(2n) {
				@include rems(padding-left, 4);
				.photo-clip {
					float: left;
				}
			}
		}
	}
}
