h1, h2 {
	&.post-title {
		font-family: $pacifico;
		@include font-size(8, 8);
		@include rems(margin-bottom, 2);
	}
	&.section-title, &.page-title {
		font-family: $pacifico;
		@include font-size(5, 5);
		color: $red;
		text-align: center;
		@include rems(margin-bottom, 4);
		&.white {
			color: #fff;
		}
	}
}
h2 {
	.team-member & {
		font-family: $pacifico;
		@include rems(margin-bottom, 2);
		color: $red;
	}
	.testimonial-content & {
		font-family: $pacifico;
	}
}
h3 {
	article & {
		font-family: $pacifico;
		@include font-size(2.6, 3.2);
		@include rems(margin, 1, 0, 2);
	}
	.testimonial-content & {
		@include font-size(3.4, 4);
		margin-top: 0;
	}
	.team-member & {
		font-family: $pacifico;
		@include rems(margin-bottom, 1);
		color: $red;
	}
}
ul {
	article & {
		@include rems(margin, 0, 0, 2, 2);
		li {
			background: url('images/bullet@2x.png') top left no-repeat;
			background-size: 4px auto;
			background-size: 0.4rem auto;
			@include rems(padding-left, 1.4);
		}
	}
}
blockquote {
	article & {
		border-left: 4px solid $red;
		@include rems(padding, 1, 0, 1, 2);
		font-family: $pacifico;
		@include font-size(3.4, 4);
		@include rems(margin-bottom, 2);
		&:last-child {
			margin-bottom: 0;
		}
	}
}
a {
	&.button {
		display: block;
		float: left;
		@include rems(padding, 0.2, 4);
		border: 2px solid $red;
		color: $red;
		text-decoration: none;
		@include border-radius(50px);
	}
}
