/*
Theme Name: btp-theme
Theme URI: http://wordpress.org/
Description: The Custom Theme for BethTakingPhotography
Author: The Twenty Six
Author URI: http://www.thetwentysix.co.uk
Version: 1.0
@charset "UTF-8";
/* CSS Document */

/* Font Library

font-family:'HelveticaNeueW01-Thin';
font-family:'HelveticaNeueW01-UltLt';

*/

/* General Styles & Resets */ 
html {
	font-size: 62.5%;	
}

html, body {
	height: 100%;
}
body {
	font-family:'HelveticaNeueW01-Thin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333;
	background: #fff;
	min-height: 100%;
	font-size: 1.6rem;
	line-height: 2rem;
}

* { 
	margin:0; 
	padding:0; 
}
ol,ul {
	list-style:none;
}
img {
	border: none;
	max-width: 100%;
	height: auto;
}
.clear {
	clear: both;
}
.col {
	float: left;
}
a {
	text-decoration: none;
	color: #ec3025;
}
p {
	padding-bottom: 15px;	
}
.container {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
}
header, section, footer {
	width: 100%;	
}

/* Header Styles */

header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 300;
	background: #fff;	
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);        
    box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
h1 {
	float: left;
	padding: 11px 0;
}
nav {
	float: right;	
	font-size: 24px;
	line-height: 30px;
	padding: 25px 0;
}
nav ul li {
	float: left;
	display: block;
	margin-left: 35px;	
}
nav ul li a {
	color: #333;	
}
nav ul li a:hover, nav ul li a:focus {
	color: #ec3025;	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out; 
	-o-transition: all 0.5s ease-in-out; 
	-ms-transition: all 0.5s ease-in-out; 
}

/* Main Content */

#title {
	background: url(images/large-header.jpg) 50% 0 no-repeat fixed;
	height: 600px;
}
.large-title {
	background: url(images/sales-message.png) 50% 0 no-repeat fixed;
	height: 1550px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 100%;
	max-width: 1000px;
	margin-top: -950px;
}
section#about, section#contact {
	padding: 4rem 0 0 0;
	margin-bottom: 4rem;
	overflow: hidden;	
}
.main-content {
	width: 63%;
	margin-right: 2.99%;
	padding: 1% 0;	
}
.main-content p:last-child, .testimonial p:last-child {
	padding-bottom: 0;	
}
.red-line {
	width: 0.2%;
	background: #ec3025;
	padding-bottom: 100%;
	margin-bottom:-100%;
}
.testimonial {
	padding: 1% 0 1% 2.99%;
	width: 29%;	
}
.quote-author {
	color: #ec3025;	
}

/* Form Styles */

.form-left, .form-right {
	width: 48%;	
}
.form-left {
	margin-right: 4%;	
}
input[type="text"], input[type="tel"], input[type="email"], textarea {
	display: block;
	border-radius: 0;
	width: 95%;
	padding: 1rem 2.5%;
	border: none;
	font-size: 2.4rem;
	line-height: 3rem;
	-webkit-appearance: none;
	background: #f2f2f2;
	margin-bottom: 2rem;
	font-family:'HelveticaNeueW01-Thin', 'Helvetica Neue', Helvetica, Arial, sans-serif;	
}
textarea {
	width: 97.5%;
	padding: 1rem 1.25%;	
}
input[type="submit"] {
	float: right;
	background: #ec3025;
	border: none;
	color: #fff;
	font-size: 3rem;
	-webkit-appearance: none;
	border-radius: 0;	
	font-family:'HelveticaNeueW01-Thin', 'Helvetica Neue', Helvetica, Arial, sans-serif;	
	width: 20%;
	text-align: center;
	display: block;
	padding: 10px 0;
	cursor: pointer;
}
input[type="submit"]:hover {
	opacity: 0.8;	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out; 
	-o-transition: all 0.5s ease-in-out; 
	-ms-transition: all 0.5s ease-in-out; 
}

/* Footer Styles */

footer .container {
	border-top: 2px solid #ec3025;
	padding: 20px 0 60px 0;	
}
footer a {
	color: #333;	
}
footer a:hover, footer a:focus {
	color: #ec3025;	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out; 
	-o-transition: all 0.5s ease-in-out; 
	-ms-transition: all 0.5s ease-in-out; 
}
.footer-left {
	float: left;	
}
.footer-right {
	float: right;	
}

/* Portfolio Styles */

#portfolio {
	height: 500px;
	position: relative;	
}
.bxslider li {
	background-image: url(images/loading.gif);
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;	
}
.gallery-main {
	height: 500px;
	width: 100%;
	background-size: cover;	
	background-position: top center;
}
.bx-prev, .bx-next {
	position: absolute;
	display: block;
	top: 50%;
	margin-top: -30px;
	width: 60px;
	height: 60px;
	text-indent: -10000px;	
}
.bx-prev {
	background: url(images/arrow-left.png) top left no-repeat;
	left: 0;	
}
.bx-next {
	background: url(images/arrow-right.png) top right no-repeat;
	right: 0;	
}

/* Responsive Styles */

#responsive-title {
	display: none;	
}

@media screen and (max-width: 65em){ 
	html {
		font-size: 50%;	
	}
	#title {
		display: none;	
	}
	#responsive-title {
		display: block;
		background-image: url(images/large-header.jpg);
		height: 400px;
		background-size: cover;
		background-position: top center;	
	}
	#responsive-title .container {
		text-align: center;	
	}
	.sales-message {
		padding-top: 170px;
	}
	#portfolio, .gallery-main {
		height: 350px;	
	}
}
@media screen and (max-width: 25em){ 
	h1 {
		float: none;
		text-align: center;	
	}
	nav {
		float: none;
		width: 100%;
		text-align: center;	
		padding: 0 0 10px 0;
	}
	header {
		position: inherit;	
	}
	nav ul li {
		float: none;
		display: inline;
		margin: 5px;	
	}
	#responsive-title {
		height: 200px;	
	}
	.sales-message {
		padding-top: 80px;
	}
	.main-content, .testimonial {
		width: 100%;
		margin: 0;
		padding: 5% 0;	
	}
	.red-line {
		display: none;	
	}
	.testimonial {
		border-top: 2px solid #ec3025;	
	}
	#portfolio, .gallery-main {
		height: 150px;	
	}
	.bx-next, .bx-prev {
		display: none;	
	}
	.form-left, .form-right {
		width: 100%;
		margin: 0;	
	}
	#contact br {
		display: none;
	}
	input[type="submit"] {
		width: 100%;	
	}
	.footer-left, .footer-right {
		float: none;
		width: 100%;	
	}
	.footer-right {
		padding-top: 2rem;
	}	
	footer a {
		display: block;
		width: 100%;
		text-align: center;	
	}
	footer span {
		display: none;	
	}
}